graphical

keyboard dvorak
lang en_US.UTF-8
timezone America/New_York --utc

bootloader --append="rd.driver.blacklist=nouveau modprobe.blacklist=nouveau modprobe.blacklist=nova_core nvidia-drm.modeset=1 intel_iommu=on iommu=pt"

ignoredisk --only-use=disk/by-id/{{ fedora_iso_target_disk_id }}
clearpart --all --initlabel --disklabel=gpt
autopart --type=lvm --fstype=xfs

authselect --passalgo=sha512 --useshadow
rootpw --lock
user --name=shanemcd --groups=wheel --iscrypted --password={{ fedora_iso_kickstart_password | password_hash('sha512') }}

ostreecontainer --url {{ fedora_iso_ostree_image }}:{{ fedora_iso_ostree_tag }}

network --bootproto=dhcp --activate --hostname={{ fedora_iso_variant | lower }}
services --enabled=sshd

{{ fedora_iso_kickstart_shutdown_command }}
