---
- name: Add user to libvirt group
  ansible.builtin.user:
    name: "{{ ansible_facts['user_id'] }}"
    groups: libvirt
    append: true
  become: true
  register: libvirt_group_added

- name: Notify user about group membership change
  ansible.builtin.debug:
    msg: "User {{ ansible_facts['user_id'] }} added to libvirt group. Log out and back in for changes to take effect."
  when: libvirt_group_added.changed
