text
network --bootproto=dhcp --device=link --activate --hostname={{ fedora_iso_variant | lower }}

# Basic partitioning
clearpart --all --initlabel --disklabel=gpt
reqpart --add-boot
part / --grow --fstype xfs

# Keyboard Layout
keyboard dvorak

# Language
lang en_US.UTF-8

# Timezone
timezone America/New_York --utc

# Auth
authselect --passalgo=sha512 --useshadow

# User creation
rootpw --lock
user --name=shanemcd --groups=wheel --iscrypted --password=$6$lZHHj/fLFzZVO2i4$Qw7mGaWwpeW4/JjLWZXLz7mP5xO.6iyECdMwDvRE0k7yAiMT4ougbg8/TGcdCj0zk8QzhqT3JPSSlu6Ev60XJ1

# Here's where we reference the container image to install - notice the kickstart
# has no `%packages` section!  What's being installed here is a container image.
ostreecontainer --url quay.io/shanemcd/fedora-bootc:latest

services --enabled=sshd

reboot
