---
- name: Get current favorites from D-Bus
  ansible.builtin.shell: |
    qdbus-qt6 org.kde.ActivityManager /ActivityManager/Resources/Linking \
      org.kde.ActivityManager.ResourcesLinking.IsResourceLinkedToActivity \
      "org.kde.plasma.favorites.applications" "{{ item }}"
  loop: "{{ kde_favorites }}"
  register: current_favorites
  changed_when: false
  failed_when: false

- name: Add missing favorites via D-Bus
  ansible.builtin.command:
    cmd: >
      dbus-send --type=method_call
      --dest=org.kde.ActivityManager
      /ActivityManager/Resources/Linking
      org.kde.ActivityManager.ResourcesLinking.LinkResourceToActivity
      string:"org.kde.plasma.favorites.applications"
      string:"{{ item.item }}"
  loop: "{{ current_favorites.results }}"
  when: item.stdout == "false"
  changed_when: true

- name: Get all currently linked resources
  ansible.builtin.shell: |
    sqlite3 {{ ansible_facts['env']['HOME'] }}/.local/share/kactivitymanagerd/resources/database \
      "SELECT targettedResource FROM ResourceLink
       WHERE initiatingAgent='org.kde.plasma.favorites.applications';"
  register: all_linked
  changed_when: false

- name: Remove favorites not in our list
  ansible.builtin.command:
    cmd: >
      dbus-send --type=method_call
      --dest=org.kde.ActivityManager
      /ActivityManager/Resources/Linking
      org.kde.ActivityManager.ResourcesLinking.UnlinkResourceFromActivity
      string:"org.kde.plasma.favorites.applications"
      string:"{{ item }}"
  loop: "{{ all_linked.stdout_lines }}"
  when: item not in kde_favorites
  changed_when: true
