---
- name: Clone .emacs.d repository
  ansible.builtin.git:
    repo: https://github.com/shanemcd/.emacs.d
    dest: "{{ ansible_facts['env']['HOME'] }}/.emacs.d"
    update: true

- name: Install Emacs packages and nerd-icons fonts
  ansible.builtin.command:
    cmd: >
      emacs --batch
      --eval "(setq vterm-always-compile-module t)"
      --load {{ ansible_facts['env']['HOME'] }}/.emacs.d/init.el
      --eval "(nerd-icons-install-fonts t)"
  changed_when: false
